.cart {
    padding: 1rem;
    position: relative;
    top: 60px;
    width: 100%;
}

.cartHeading {
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.bottom_part {
    display: flex;
    /* border: 2px solid blue; */
    justify-content: space-between;
}

.order_btn {
    /* border: 2px solid cyan; */
    border: none;
    font-size: xx-large;
    background-color: #ffbc2c;
    padding: 8px;
}