.checkout_container {
    position: relative;
    width: 100%;
    top: 60px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    justify-content: center;
    align-items: center;
}

.checkout_items {
    /* border: 1px solid rgb(203, 207, 207); */
    /* min-width: 600px; */
    width: 70vw;
    margin: 5px;

}

.checkout_items_headers {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
}

.item_line {
    width: 70vw;
    border: 1px solid grey;
}

.header_heading {
    font-size: xx-large;
    font-weight: 600;
}