.checkout_container {
    position: relative;
    width: 100%;
    top: 60px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    justify-content: center;
    align-items: center;
}

.checkout_items {
    border: 2px solid green;
    min-width: 600px;
    margin: 5px;

}

.checkout_items_headers {
    display: flex;
    justify-content: space-between;
    border: 2px solid blue;
}

.item_line {
    width: 550px;
    border: 2px solid grey;
}

.header_heading {
    font-size: xx-large;
}